.produto{
    background-color: aqua;
}

.produto span{
    font-size: 24px;
    color: brown;
}

.exemplo{
    font-size: 18px;
    color: yellow;
    background-color: red; 
}
.exemplo-2{
    background-color: aqua;
}
